{% extends 'content_base.html.twig' %}

{% block content_body %}

    {% for imageFilename, file in uploadedFiles %}

    {{ imageFilename }}
        {% set imagePath = 'article_image/' ~ imageFilename %}

        <div>
            <img width="300" src="{{ asset(imagePath) }}">
            <br />
{{ imagePath }} ({{ asset(imagePath) }})
        </div>



    {% set thumbPath = asset(imagePath) | imagine_filter('squared_thumbnail_small') %}
    <a href="{{ thumbPath }}">
        <img src="{{ thumbPath  }}" />
        <br />
        {{ thumbPath }}</a>


    {% endfor %}

{% endblock %}
